.funds-container {
    margin-top: 65px;
    overflow: hidden;
}

.scrollable-table {
    display: table;
    width: 100%;
    overflow-x: scroll;
}

.field-header {
    display: table-header-group;
    background: #4a4a4af5;
    color: #fff;
}
.field-body {
    display: table-row-group;
}

.field-row {
    display: table-row;
}

.field, .field-value {
    min-width: 150px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-right: 1px solid #fff;
}
.field {
    padding: 15px 10px;
}

.field-data {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.field-row:nth-child(even) {
    background: #f3f3f3;
}
.parent {
    position: relative;
    width: 100%;
    overflow-x: scroll;
}